
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 " >
        <h1 class="display-4  fs-1 mb-4 flex">Article Title</h1>
        <div class="border-bottom border-1 ">  
          <h2 class="fs-4 text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda aspernatur consectetur sapiente nihil, soluta unde omnis alias veniam rerum cum natus reiciendis voluptatum. Soluta vitae labore iure consequuntur exercitationem.
          </h2>
        </div>
      </div>
    </div>
  </div>